<nav class="navbar container">
    <ul class="navbar-ul content">
        <div class="navbar-navs">
            <div class="navbar-items">
                <li class="navbar-item">
                    <h1>BTH Movies</h1>
                </li>
            </div>
            <div class="navbar-items">
                <li class="navbar-item">
                    <h2><a id="navbar-home" href="/">Home</a></h2>
                </li>
                <li class="navbar-item">
                    <h2><a id="navbar-movies" href="/movies">Movies</a></h2>
                </li>
                <li class="navbar-item">
                    <h2><a id="navbar-actors" href="/actors">Actors</a></h2>
                </li>
            </div>
        </div>
        <div class="navbar-navs">
            <div class="navbar-items">
                <li class="navbar-item signin-state">
                    {% if session['token'] %}
                        <h2><a href="/signin/signout">Sign out</a></h2>
                    {% else %}
                        <h2><a id="navbar-signin" href="/signin">Sign in</a></h2>
                    {% endif %}
                </li class="navbar-item">
            </div>
        </div>
    </ul>
</nav>