<div class="navbar">
    <h1>BTH Movies</h1>
    <ul class="navbar-ul">
        <li>
            <a class="navbar-btn" id="navbar-home" href="/">Home</a>
        </li>
        <li>
            <a class="navbar-btn" id="navbar-sign-in" href="/login">Sign in</a>
        </li>
        <li>
            <a class="navbar-btn" id="navbar-movies" href="/movies">Movies</a>
        </li>
        <li>
            <a class="navbar-btn" id="navbar-actors" href="/actors">Actors</a>
        </li>
        <li>
            <a class="navbar-btn" id="navbar-ratings" href="/ratings">Ratings</a>
        </li>
    </ul>
</div>