.movie-div {
    padding: 1rem;
    margin: 1rem;
    font-size: 18px;
}

.movie-general {
    padding-bottom: 1rem;
    border-bottom: 1px solid currentColor;
}

.movie-header {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    padding-bottom: 0.5rem;
}

.movie-title {
    font-weight: initial;
    font-size: 28px;
}

.movie-title label a {
    display: block;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: currentColor;
    color: inherit;
}

.movie-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.average-movie-rating-container p {
    display: inline-block;
}

#average-movie-rating {
    display: inline-block;
    min-width: 2rem;
    font-weight: bold;
}

.movie-details-basic label {
    padding-right: 1rem;
}

.movie-description {
    padding: 0.5rem 0 0 1rem;
    font-style: italic;
}

.movie-detail {
    font-size: 20px;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(57, 57, 57);
}

.movie-detail label {
    display: flex;
}

.movie-detail label h1 {
    display: inline-block;
    width: 8em;
    font-size: inherit;
    color: inherit;
}

.movie-detail label p {
    color: lightgray;
    display: inline-block;
}

.movie-detail .movie-actor-name-ref {
    color: rgb(138, 137, 252);
}

.movie-detail a {
    display: inline-block;
    text-decoration: none;
    color: inherit;

    :hover {
        text-decoration: underline;
    }
}

.movie-role-entries {
    display: flex;
    flex-direction: column;
}

.movie-actor-role-entry {
    font-size: inherit;
}

.movie-ratings {
    justify-content: space-between;
    width: 100%;
}

.rating-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: initial;

    * {
        margin: auto;
    }
}

.reviewer-details {
    font-size: 12px;
}

.rating-description {
    width: 80%;
    padding-top: 1rem;
}

.rating-description p {
    font-size: 14px;
}

@media screen and (max-width: 640px) {
    .movie-detail {
        font-size: 16px;
    }
    .movie-detail label h1 {
        font-size: 18px;
        width: 5em;
    }
}