* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(18, 17, 17, 1) 0%, rgba(7, 52, 62, 1) 100%);
    color: rgb(229, 217, 217);
    font-family:'Times New Roman', Times, serif;
}

a {
    color: white;
}

.container {
    /* margin: 0rem 10rem; */
    width: 50%;
    margin-left: 25%;
}